

.background {
    background-image: url('https://th.bing.com/th/id/OIP.u5FXGNMuIWLUWBSkLPxTXwHaGP?rs=1&pid=ImgDetMain');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }
  